body{
  /*background: #dde5ed ;
  background: lightgray;*/
}
li{
	display: flex !important;
	justify-content: space-between !important;
	align-items: center;
}
li span{
	flex:1;
}
.done{
	background: #99bd99;
	opacity: 0.82;
}
#title h3{
  display: flex;
  justify-content: center;
  align-items: center;
}
#title h3 button{
  margin-left: 10px;
}